
.todolist > .list-group > .list-group-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todolist_done > .list-group > .list-group-item {
  background-color: #e8f4e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

